<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.pryades.erp.dal.ibatis.CompanyMapper">

	<select id="selectCompanyContacts" parameterType="long" resultMap="mapCompanyContact">
		select 
			companies_contacts.id,
		
			companies_contacts.ref_company,
			companies_contacts.name,
			companies_contacts.email,
			companies_contacts.phone

		from companies_contacts
		 		
		where 
			companies_contacts.ref_company = #{id}
			
		order by companies_contacts.id asc
	</select>

	<select id="selectCompanyUsers" parameterType="long" resultMap="mapCompanyUser">
		select 
			users.name,
			users.login,
			users.email,
			users.pwd,
			users.changed,
			users.retries,
			users.ref_profile,
			users.status
			
		from users

		inner join users_companies
		on users_companies.ref_user = users.id
		
		inner join companies
		on users_companies.ref_company = companies.id
		 		
		where 
			users_companies.ref_company = #{id}
			
		order by users.name asc
	</select>

	<resultMap id="mapCompanyUser" type="es.pryades.erp.dto.User">
		<id property="id" column="id"/>
		
		<result property="name" column="name"/>
		<result property="login" column="login"/>
		<result property="email" column="email"/>
		<result property="pwd" column="pwd"/>
		<result property="changed" column="changed"/>
		<result property="retries" column="retries"/>
		<result property="ref_profile" column="ref_profile"/>
		<result property="status" column="status"/>
	</resultMap>

	<resultMap id="mapCompanyContact" type="es.pryades.erp.dto.CompanyContact">
		<id property="id" column="id"/>
		
		<result property="ref_company" column="ref_company"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
	</resultMap>

	<resultMap id="mapCompany" type="es.pryades.erp.dto.Company">
		<id property="id" column="id"/>
		
		<result property="name" column="name"/>
		<result property="alias" column="alias"/>
		<result property="tax_id" column="tax_id"/>
		<result property="address" column="address"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="type_company" column="type_company"/>
		<result property="taxable" column="taxable"/>
		<result property="language" column="language"/>
		<result property="signature" column="signature"/>
		<result property="logo" column="logo"/>
		
		<collection property="contacts" column="id" ofType="mapCompanyContact" select="selectCompanyContacts"> </collection>
		<collection property="users" column="id" ofType="mapCompanyUser" select="selectCompanyUsers"> </collection>
	</resultMap>

	<sql id="es.pryades.erp.dal.ibatis.CompanyMapper.fields">
		companies.id,
		companies.name,
		companies.alias,
		companies.tax_id,
		companies.email,
		companies.phone,
		companies.address,
		companies.type_company,
		companies.taxable,
		companies.language,
		companies.signature
	</sql>

	<sql id="es.pryades.erp.dal.ibatis.CompanyMapper.joins">
		<if test="ref_user != null">
			inner join users_companies
			on users_companies.ref_company = companies.id
		</if>
	</sql>

	<sql id="es.pryades.erp.dal.ibatis.CompanyMapper.where">
		<where>
			<if test="alias != null">
				AND ( companies.alias like #{alias} OR companies.name like #{alias} ) 
			</if>
			<if test="tax_id != null">
				AND companies.tax_id = #{tax_id}
			</if>
			<if test="type_company != null">
				AND companies.type_company = #{type_company}
			</if>
			<if test="ref_user != null">
				AND users_companies.ref_user = #{ref_user}
			</if>
		</where>
	</sql>
	
	<sql id="es.pryades.erp.dal.ibatis.CompanyMapper.orderby">
		<choose>
			<when test="orderby.equals( 'tax_id' )">
				companies.tax_id
			</when>
			<when test="orderby.equals( 'alias' )">
				companies.alias
			</when>
			<when test="orderby.equals( 'name' )">
				companies.name
			</when>
			<when test="orderby.equals( 'email' )">
				companies.email
			</when>
			<when test="orderby.equals( 'phone' )">
				companies.phone
			</when>
			<when test="orderby.equals( 'type_company' )">
				companies.type_company
			</when>
			<otherwise>
				companies.id
			</otherwise>
		</choose>

		<choose>
			<when test="order.equalsIgnoreCase( 'asc' )">
				asc
			</when>
			<otherwise>
				desc
			</otherwise>
		</choose>
	</sql>

	<select id="getNumberOfRows" parameterType="es.pryades.erp.dto.Query" resultType="long">
		select 
			count(1) 
		from 
			companies

    	<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.joins" />
		<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.where" />
	</select>

	<select id="getPage" parameterType="es.pryades.erp.dto.Query" resultMap="mapCompany">
		select 
			<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.fields" />
		
		from
			companies
		
   		<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.joins" />
		<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.where" />

		order by 
			<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.orderby" />

		LIMIT #{pageSize} OFFSET (#{pageSize} * (#{pageNumber} - 1))
	</select>

	<select id="getRows" parameterType="es.pryades.erp.dto.Query" resultMap="mapCompany">
		select 
			<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.fields" />
		
		from
			companies
		
    	<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.joins" />
		<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.where" />
		
		order by 
			<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.orderby" />
	</select>

	<select id="getRow" parameterType="es.pryades.erp.dto.Company" resultMap="mapCompany">
		select
			<include refid="es.pryades.erp.dal.ibatis.CompanyMapper.fields" />
			,
    		companies.logo
		
		from
			companies
		
		<where>
			<choose>
				<when test="type_company != null">
					companies.type_company = #{type_company}
				</when>
				<otherwise>
					companies.id = #{id}
				</otherwise>
			</choose>
		</where>
	</select>

	<insert id="addRow" parameterType="es.pryades.erp.dto.Company">

		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			SELECT nextval('gendat');
		</selectKey>

		insert into companies
		(
			id,
			alias,
			name,
			tax_id,
			address,
			email,
			phone,
			type_company,
			taxable,
			language,
			logo, 
			signature
		)
		values
		(
			#{id},
			#{alias},
			#{name},
			#{tax_id},
			#{address},
			#{email},
			#{phone},
			#{type_company},
			#{taxable},
			#{language},
			#{logo},
			#{signature}
		)
	</insert>

	<update id="setRow" parameterType="es.pryades.erp.dto.Company">
		update companies set
			alias=#{alias},
			name=#{name},
			tax_id=#{tax_id},
			address=#{address},
			email=#{email},
			phone=#{phone},
			type_company=#{type_company},
			taxable=#{taxable},
			language=#{language},
			<if test="logo != null">
				logo=#{logo}, 
	        </if>
			signature=#{signature}
		where id = #{id}
	</update>

	<update id="delRow" parameterType="es.pryades.erp.dto.Company">
		delete from companies where id = #{id}
	</update>

</mapper>
